@font-face {
    font-family: Forum;
    src: url(/Website/fonts/Forum-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: Forum;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 650px;
    padding-top: 10px;
    position: relative;
}

.functionContainer {
    width: 50%;
    color: #000000;
    margin: 30px auto;
    max-width: 960px;
    min-width: 650px;
    padding: 10px;
    background-color: peachpuff;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}

.functionContainer>h1 {
    text-align: center;
    font-size: 35px;
}

.functionContainer>h2 {
    text-align: left;
    font-size: 20px;
}

.index_box {
    width: 100%;
    margin: 30px 0;
    background-color: white;
    background-position: center;
    border: 1px solid black;
    border-radius: 30px;
}

.index_box>h1 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(0, 0, 0);
}

.index_box>h2 {
    text-align: center;
    padding: 10px 10px;
    color: rgb(0, 0, 0);
}

.index_box>button {
    text-align: center;
    padding: 20px 0px;
    color: rgb(0, 0, 0);
}

.index_box>p {
    text-align: center;
}

.index_farmer {
    margin: 20px 20px 20px 35px;
    padding: 100px 0px;
    width: 44%;
    float: left;
    background-image: url(/Website/images/durianFarmer.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}


.index_distributor {
    margin: 20px 20px 20px 20px;
    padding: 100px 0px;
    width: 44%;
    float: left;
    background-image: url(/Website/images/durianDistributor.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.index_retailer {
    margin: 20px 20px 20px 35px;
    padding: 100px 0px;
    width: 44%;
    float: left;
    background-image: url(/Website/images/durianRetailer.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.index_consumer {
    margin: 20px 20px 20px 20px;
    padding: 100px 0px;
    width: 44%;
    float: left;
    background-image: url(/Website/images/durianConsumer.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.mini_box {
    width: 45%;
    background-color: white;
    background-position: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    margin: auto;
}